<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">

    <title>imMes</title>

    <meta name="description" content="Automatizace, Robotika, Průmysl! Proměň svůj nápad ve skutečnost! Analýza, vývoj, kontrola, #analyzujto.cz, #programujto.cz, #kontrolujto.cz">

    <meta name="keywords" content="automatizace, robotika, průmysl, analýza, vývoj, kontrola, analyzujto.cz, programujto.cz, kontrolujto.cz">

    <meta name="author" content="Aliaksandr Sazankou @itmakers.cz #itmakerscz" />

    <!--
      <link rel="stylesheet" href="/assets/css/style.css">
    -->
    <link rel="stylesheet" href="/assets/css/animation.css?v=210401_2215">
    <link rel="stylesheet" href="/assets/css/theme.css?v=210401_2215">



    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" sizes="192x192" href="/assets/images/roboticsautomation_sign.png">
    <link rel="shortcut icon" href="/assets/images/roboticsautomation_sign.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="apple-touch-startup-image" href="/assets/images/roboticsautomation_sign.png">
    <link rel="apple-touch-icon" href="/assets/images/roboticsautomation_sign.png">

    <meta name="apple-mobile-web-app-title" content="roboticsautomation.cz">
    <meta name="application-name" content="roboticsautomation.cz">
    <meta name="msapplication-TileColor" content="#660000">
    <meta name="theme-color" content="#ffffff">


    <!-- Schema.org markup -->
    <meta itemprop="name" content="roboticsautomation.cz - Automatizace, Robotika, Průmysl! Proměň svůj nápad ve skutečnost!">
    <meta itemprop="description" content="Automatizace, Robotika, Průmysl! Proměň svůj nápad ve skutečnost! analýza, vývoj, kontrola, analyzujto.cz, programujto.cz, kontrolujto.cz">
    <meta itemprop="image" content="/assets/images/roboticsautomation_sign.png">


    <script>
      function nav() {
        var ul = document.getElementById('nav-sub');
        if (ul.classList.toggle("nav-sub")) {
          ul.classList.add("nav-sub");
        }
      }
    </script>
    
  <script>
    if (!!window.EventSource) {
      var source = new EventSource('/');
      source.onmessage = function(e) {
        $("#data-get").text(e.data);
      }
    }
    </script>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <header id="im-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">

      <article role="article" class="im-header-article wrapper">
        <div class="im-article-header text-left">
          <h1 itemprop="name" class="white">imMes</h1>
          <p itemprop="description" class="white">Data under your control!</p>
        </div>

        <div class="im-col col-l center">
          <div class="im-col-header"></div>
          <div class="im-col-section white"></div>
          <div class="im-col-footer">
						<!--
            <a href="http://automatizujto.cz" class="im-btn bordo border-bordo">automatizujto.cz</a>
						-->
          </div>
        </div>

        <div class="im-col col-c center hidden">
          <div class="im-col-header"></div>
          <div class="im-col-section white"></div>
          <div class="im-col-footer"></div>
        </div>

        <div class="im-col col-r center">
          <div class="im-col-header"></div>
          <div class="im-col-section white"></div>
          <div class="im-col-footer">
						<!--
            <a href="http://robotizujto.cz" class="im-btn bordo border-bordo">robotizujto.cz</a>
						-->
          </div>
        </div>

        <div class="im-article-footer clearfix"></div>
      </article>

    </header>


    <nav id="im-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">

      <ul class="nav-container">
        <li class="nav-header center hidden">
          <ul>
            <li>
              Information panel
              <a href="privacy.html" title="roboticsautomation.cz - Privacy and Terms" rel="">Privacy &amp; Terms</a>
            </li>
          </ul>
        </li>

        <li class="nav-main">
          <ul>
            <li class="nav-main-left">
              <ul>
                <li><a href="#production">Production</a></li>
                <li><a href="#charts">Charts</a></li>
              </ul>
            </li>

            <li class="nav-main-right">
              <ul>
                <li><a href="#settings">S</a></li>
                <li><a href="#contacts">C</a></li>
                <li>
                  <a href="javascript:nav(0);" class="nav-main-dropdown" title="" rel="nofollow">&equiv;</a>
                </li>
              </ul>
            </li>
          </ul>

        </li>

        <li class="nav-footer hidden">
          <ul>
            <li>
              &nbsp;
            </li>
          </ul>
        </li>

      </ul>

    </nav>



    <a class="im-anchor" name="production"></a>
    <main id="im-main" role="main" itemscope itemprop="mainContentOfPage">

      <article id="im-counter" role="article" class="im-main-article wrapper">
        <div class="im-article-header center">
          <h2>Production</h2>
          <p>Quick overview</p>
        </div>

        <div data-aos="fade-up" data-aos-duration="300" class="im-col col-l center">
          <div class="im-col-header">
            <h2>Summary</h2>
            <img src="/assets/images/roboticsautomation_industry.svg" width="96" alt="">
            <h2 id="total" class="counter" data-count="118000">0</h2>
          </div>
          <div class="im-col-section">
            complete in all time
          </div>
          <div class="im-col-footer">
            <a href="#" class="im-btn bordo border-bordo">more</a>
          </div>
        </div>

        <div data-aos="fade-up" data-aos-duration="600" class="im-col col-c center">
          <div class="im-col-header">
						<h2>Week</h2>
						<img src="/assets/images/roboticsautomation_automation.svg" width="96" alt="">
            <h2 id="week" class="counter" data-count="8000">0</h2>
					</div>
          <div class="im-col-section">
            complete
          </div>
          <div class="im-col-footer">
						<a href="#" class="im-btn yellow border-yellow">more</a>
					</div>
        </div>

        <div data-aos="fade-up" data-aos-duration="900" class="im-col col-r center">
          <div class="im-col-header">
            <h2>Day</h2>
            <img src="/assets/images/roboticsautomation_robotics.svg" width="96" alt="">
            <h2 id="day" class="counter" data-count="838">0</h2>
          </div>
          <div class="im-col-section">
            complete
          </div>
          <div class="im-col-footer">
            <a href="#" class="im-btn bordo border-bordo">more</a>
          </div>
        </div>

        <div class="im-article-footer clearfix"></div>
      </article>


      <a class="im-anchor" name="charts"></a>
			<article id="im-reference" role="article" class="im-main-article wrapper">
        <div class="im-article-header center">
          <h2>Charts</h2>
          <p>Overview with charts</p>
        </div>

        <div data-aos="fade-up" data-aos-duration="300" class="im-col col-l center">
					<div class="im-col-header">
						<h2>Summary</h2>
					</div>
          <div class="im-col-section">
          {}
          </div>
          <div class="im-col-footer">
						<a href="#" class="im-btn bordo border-bordo">more</a>
					</div>
				</div>

        <div data-aos="fade-up" data-aos-duration="600" class="im-col col-c center">
					<div class="im-col-header">
						<h2>Month</h2>
					</div>
          <div class="im-col-section">
          {}
          </div>
          <div class="im-col-footer">
						<a href="#" class="im-btn bordo border-bordo">more</a>
					</div>
				</div>

        <div data-aos="fade-up" data-aos-duration="900" class="im-col col-r center">
					<div class="im-col-header">
						<h2>Day</h2>
					</div>
          <div class="im-col-section">
          {}
          </div>
          <div class="im-col-footer">
						<a href="#" class="im-btn bordo border-bordo">more</a>
					</div>
				</div>

        <div class="im-article-footer clearfix"></div>
      </article>


      <a class="im-anchor" name="contacts"></a>
			<article role="article" id="im-contacts" class="im-header dark">
        <div class="im-article-header center">
          <h2>Contacts</h2>
          <p>If you have any problem pleas contact our support center</p>
        </div>

				<div class="wrapper">
        <div class="im-col col-l">
          <div class="im-col-header">
            <h3>Connect with us</h3>
          </div>
          <div class="im-col-section">
						<b>t:</b> (+420) 775 13 55 88<br />
						<b>e:</b> info@roboticsautomation.cz<br />
						<b>w:</b> roboticsautomation.cz
          </div>
          <div class="im-col-footer"></div>
        </div>

        <div class="im-col col-c center">
          <div class="im-col-header">
            <h3>&nbsp;</h3>
          </div>
          <div class="im-col-section">
            <p></p>
          </div>
          <div class="im-col-footer"></div>
        </div>

        <div class="im-col col-r center">
          <div class="im-col-header">
            <h3>Find some issue?</h3>
          </div>
          <div class="im-col-section">
            Try to call us.<br />
            <p><a href="tel:+420775135588" rel="" target="_blank" class="im-btn yellow border-yellow bg-white">+ 420 775 13 55 88</a></p>
          </div>
          <div class="im-col-footer"></div>
        </div>
				</div>

        <div class="im-article-footer clearfix"></div>
      </article>
    </main> <!-- #main -->

    <footer id="im-footer" class="center padding" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
      &copy;<a href="//itmakers.cz" class="title" title="itmakers.cz - just make it" rel="">
        <abbr title="Information Technology">it</abbr> makers <span class="under">just make it</span>
      </a> <sup>&reg;</sup>
      <a href="//itmakers.cz/#imcms" class="title" title="itmakers.cz - imCMS (mobile intelligence cms)" rel="">
        <abbr title="it makers">im</abbr> cms
      </a>
      <p>
        <a href="privacy.html" title="roboticsautomation.cz - Privacy and Terms" rel="">Privacy &amp; Terms</a>
      </p>
    </footer>

		<script src="/assets/js/jquery341.min.js"></script>
		<script src="/assets/js/im.js?v=210401_2215"></script>
  </body>
</html>
