<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=1.0, initial-scale=1.0, user-scalable=0">

    <title>imMes</title>

    <meta name="description" content="Automatizace, Robotika, Průmysl! Proměň svůj nápad ve skutečnost! Analýza, vývoj, kontrola, #analyzujto.cz, #programujto.cz, #kontrolujto.cz">

    <meta name="keywords" content="automatizace, robotika, průmysl, analýza, vývoj, kontrola, analyzujto.cz, programujto.cz, kontrolujto.cz">

    <meta name="author" content="Aliaksandr Sazankou @itmakers.cz #itmakerscz" />

    <!--
      <link rel="stylesheet" href="/assets/css/style.css">
    -->
    <link rel="stylesheet" href="/assets/css/animation.css?v=210401_2215">
    <link rel="stylesheet" href="/assets/css/theme.css?v=210401_2215">



    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" sizes="192x192" href="/assets/images/roboticsautomation_sign.png">
    <link rel="shortcut icon" href="/assets/images/roboticsautomation_sign.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <link rel="apple-touch-startup-image" href="/assets/images/roboticsautomation_sign.png">
    <link rel="apple-touch-icon" href="/assets/images/roboticsautomation_sign.png">

    <meta name="apple-mobile-web-app-title" content="roboticsautomation.cz">
    <meta name="application-name" content="roboticsautomation.cz">
    <meta name="msapplication-TileColor" content="#660000">
    <meta name="theme-color" content="#ffffff">


    <!-- Schema.org markup -->
    <meta itemprop="name" content="roboticsautomation.cz - Automatizace, Robotika, Průmysl! Proměň svůj nápad ve skutečnost!">
    <meta itemprop="description" content="Automatizace, Robotika, Průmysl! Proměň svůj nápad ve skutečnost! analýza, vývoj, kontrola, analyzujto.cz, programujto.cz, kontrolujto.cz">
    <meta itemprop="image" content="/assets/images/roboticsautomation_sign.png">


    <script>
      function nav() {
        var ul = document.getElementById('nav-sub');
        if (ul.classList.toggle("nav-sub")) {
          ul.classList.add("nav-sub");
        }
      }
    </script>
    
  <script>
    if (!!window.EventSource) {
      var source = new EventSource('/');
      source.onmessage = function(e) {
        $("#data-get").text(e.data);
      }
    }
    </script>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <header id="im-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">

      <article role="article" class="im-header-article wrapper">
        <div class="im-article-header text-left">
          <h1 itemprop="name" class="white">imMes</h1>
          <p itemprop="description" class="white">Data under your control!</p>
        </div>

        <div class="im-col col-l center">
          <div class="im-col-header"></div>
          <div class="im-col-section white"></div>
          <div class="im-col-footer">
						<!--
            <a href="http://automatizujto.cz" class="im-btn bordo border-bordo">automatizujto.cz</a>
						-->
          </div>
        </div>

        <div class="im-col col-c center hidden">
          <div class="im-col-header"></div>
          <div class="im-col-section white"></div>
          <div class="im-col-footer"></div>
        </div>

        <div class="im-col col-r center">
          <div class="im-col-header"></div>
          <div class="im-col-section white"></div>
          <div class="im-col-footer">
						<!--
            <a href="http://robotizujto.cz" class="im-btn bordo border-bordo">robotizujto.cz</a>
						-->
          </div>
        </div>

        <div class="im-article-footer clearfix"></div>
      </article>

    </header>


    <nav id="im-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">

      <ul class="nav-container">
        <li class="nav-header center hidden">
          <ul>
            <li>
              Information panel
              <a href="privacy.html" title="roboticsautomation.cz - Privacy and Terms" rel="">Privacy &amp; Terms</a>
            </li>
          </ul>
        </li>

        <li class="nav-main">
          <ul>
            <li class="nav-main-left">
              <ul>
                <li><a href="#production">Production</a></li>
                <li><a href="#charts">Charts</a></li>
              </ul>
            </li>

            <li class="nav-main-right">
              <ul>
                <li><a href="#settings">S</a></li>
                <li><a href="#contacts">C</a></li>
                <li>
                  <a href="javascript:nav(0);" class="nav-main-dropdown" title="" rel="nofollow">&equiv;</a>
                </li>
              </ul>
            </li>
          </ul>

        </li>

        <li class="nav-footer hidden">
          <ul>
            <li>
              &nbsp;
            </li>
          </ul>
        </li>

      </ul>

    </nav>




    <main id="im-main" role="main" itemscope itemprop="mainContentOfPage">   
      <a name="sluzby"></a>
      <article role="article" class="im-main-article wrapper">
        <div class="im-article-header center">
          <h2></h2>
        </div>

        <div class="im-col">
          <div class="im-col-header"></div>

          <div class="im-col-section">

            <h2>Obecná ustanovení</h2>
            <p>Provozovatelem těchto internetových (webových) stránek je <a href="/" title="itmakers.cz">www.itmakers.cz</a> (dále jen provozovatel), která je v souladu se zák. č. 121/2000 Sb., autorský zákon, v platném znění, oprávněna vykonávat majetková práva k těmto stránkám.</p>
            <p>Provozovateli náleží veškerá práva vyplývající z licence dle autorského zákona k vlastnímu obsahu stránek, včetně textu a jejich designu, technických náčrtů, grafiky, veškerých vyobrazení na těchto stránkách, jakož i k výběru a způsobu uspořádání souborů obsažených na těchto internetových stránkách.</p>
            <p>Provozovatel tímto vydává podmínky pro užívání internetových stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a> (dále jen podmínky). Internetové stránky <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a> jsou bezplatně veřejně přístupné a jejich užívání se řídí těmito podmínkami.</p>
            <h3>Způsob používání</h3>
            <p>Uživatel se zavazuje, že se při používání stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a> bude řídit předpisy platnými na území České republiky, dobrými mravy a těmito podmínkami a nebude jakkoliv poškozovat dobré jméno provozovatele ani ostatní uživatele. Uživatel se zavazuje, že zejména nebude:</p>
            <ul>
              <li>zasahovat do bezpečnosti, technické podstaty nebo obsahu internetových stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a> nebo je jinak zneužívat,</li>
              <li>zasahovat do používání těchto stránek ze strany jiných uživatelů,</li>
              <li>využívat stránky pro rozesílání nevyžádaných zpráv (spam), řetězových zpráv,</li>
              <li>zasílat na tyto stránky zprávy obsahující viry nebo jakékoliv nebezpečné či škodlivé programy,</li>
              <li>vytvářet falešné zprávy (fake) za účelem falšování identity odesílatele či se pokoušet proniknout na účet jiných uživatelů,</li>
              <li>pokoušet se získat přístup k těm částem stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a>, které jsou vyloučeny z používání veřejnosti,</li>
              <li>šířit na těchto internetových stránkách zprávy či materiály porušující právní předpisy České republiky.</li>
            </ul>
            <h3>Omezení odpovědnosti provozovatele</h3>
            <p>Obsah internetových stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a> má pouze informativní a nezávazný charakter. Provozovatel neručí za správnost a úplnost informací na těchto internetových stránkách. Zveřejnění jakýchkoliv údajů a informací na těchto stránkách, s výjimkou těchto podmínek, nemá povahu žádného právního úkonu směřujícího ke vzniku právního vztahu mezi provozovatelem a uživatelem, pokud nebude v jednotlivých případech výslovně uveden jinak.</p>
            <p>Provozovatel může kdykoliv bez předchozího upozornění provádět změny informací na těchto stránkách. <br />Provozovatel nenese žádnou odpovědnost za jakékoliv případné škody, které uživatelům mohou vzniknout v souvislosti s používáním internetových stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a>.</p>
            <p>Provozovatel také nenese žádnou odpovědnost za reklamu, popř. jinou formu propagace prováděnou jakýmkoliv třetím subjektem prostřednictvím stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a>.</p>
            <p>Provozovatel dále nenese žádnou odpovědnost za obsah www stránek patřících třetím subjektům, které lze navštívit prostřednictvím stránek <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a>.</p>

            <h2>Ochrana osobních údajů a nakládání s cookies</h2>

            <p>Tyto zásady se vztahují na praktické dodržování práva na soukromí z hlediska ochrany osobních údajů v souvislosti s těmito webovými stránkami. Nepřebíráme však odpovědnost za obsah a praktické uplatňování ochrany soukromí na jiných webových stránkách, na které v mojich stránkách odkazuji.</p>
            <p>Přístup na stránky <a href="/" title="roboticsautomation.cz">www.roboticsautomation.cz</a> nebo některé služby poskytované provozovatelem na těchto internetových stránkách mohou být úplně či částečně podmíněny poskytnutím některých osobních údajů uživatele ve smyslu zák. č. 101/2000 Sb, o ochraně osobních údajů.</p>
            <p>Provozovatel se zavazuje s těmito údaji nakládat v souladu s platnými právními předpisy a užívat je pouze v rozsahu nezbytném pro naplnění účelu, pro který jsou tyto údaje získávány, a vždy tak, aby zamezil jakékoliv újmě subjektu těchto údajů. Provozovatel dále využívá tyto údaje pro svou vnitřní potřebu, zejména pro provádění analýz a vyhodnocování možných rizik, sledování kvality služeb a spokojenosti klientů.</p>
            <p>Uživatel s výše uvedeným postupem provozovatele souhlasí.</p>

            <h3>Všeobecná pravidla</h3>
            <p>Provozovatel plně respektuje Vaše právo na soukromí a neshromažďuje žádné osobní údaje o Vás, pokud jste k tomu nedal(a) prokazatelný souhlas.</p>
            <p>Provozovatel neshromažďuje žádné další údaje, které by mohly identifikovat návštěvníky těchto webových stránek. To se však netýká informací, které sdělujete dobrovolně, například prostřednictvím e-mailu nebo při použití webového formuláře, kde je zřejmý souhlas s jejich použitím pro příslušný účel. Žádná informace, kterou poskytnete prostřednictvím webových stránek provozovatele, není bez Vašeho souhlasu zpřístupněna třetí straně a Úřad ji použije pouze pro účely, pro které jste ji poskytli.</p>
            <p>Při zpracování osobních údajů Úřad dbá na dodržování nejpřísnějších norem zabezpečení a důvěrnosti zaručující soulad se zákonem č. 101/2000 Sb., o ochraně osobních údajů a o změně některých zákonů, ve znění pozdějších předpisů.</p>

            <h3>Shromažďování a použití údajů</h3>
            <p>Náš poskytovatel připojení k internetu, který zaznamenává údaje na vlastní zodpovědnost a který je vázán v tomto ohledu předpisy o důvěrnosti, nesmí zpřístupnit příslušné technické informace o návštěvnících jednotlivých webových stránek, pokud mu zpřístupnění určitých informací neukládá zákon.</p>

            <h3>Cookie</h3>
            <p>Cookie je krátký textový soubor, který navštívená webová stránka odešle do prohlížeče. Umožňuje webu zaznamenat informace o vaší návštěvě, například preferovaný jazyk a další nastavení. Díky těmto informacím mohu pro vás vytvářet lepší obsah. Soubory cookie jsou důležité. Bez nich by procházení webu bylo mnohem složitější.</p>
            <p>Soubory cookie slouží k celé řadě účelů. Používáme je například k ukládání vašich nastavení bezpečného vyhledávání, k výběru relevantních reklam, ke sledování počtu návštěvníků na stránce, k usnadnění registrace nových služeb a k ochraně vašich dat.</p>

            <a href="http://www.google.com/intl/cs/policies/" target="_blank" rel="nofollow">Ochrana soukromí a smluvní podmínky Google</a>

            <h3>Používání souborů cookie</h3>
            <p>Používání souborů cookie slouží k personalizaci obsahu a reklam, poskytování funkcí sociálních médií a analýze naší návštěvnosti využíváme soubory cookie. Informace o tom, jak náš web používáte, sdílíme se svými partnery působícími v oblasti sociálních médií, inzerce a analýz.</p>

            <p>Použitím našeho webu souhlasíte s jakéhokoli shromažďování, sdílení a využití údajů, ke kterým dochází v důsledku používání služeb našeho webu.</p>
            <p>A dále souhlasíte s ukládáním a používáním souborů cookie nebo jiných informací v jeho zařízení, v němž k těmto činnostem dochází v souvislosti se službou našeho webu.</p>

            <h3>Závěrečná ustanovení</h3>
            <p>Tyto podmínky je provozovatel oprávněn kdykoliv změnit.</p>
            <p>Podmínky užívání stránek jsou účinné dnem jejich zveřejnění. Podmínky byly zveřejněny dne 2. 7. 2019.</p>

            <p>Kdo nesouhlasí s uvedenými podmínkami musí opustit tento web!</p>

            <h3>Změny</h3>
            <p>V případě jakýchkoli změn zásad ochrany soukromí budou změny uvedeny na této stránce.</p>
          </div>    
        
          <div class="im-col-footer"></div>
        </div>

        <div class="im-article-footer clearfix"></div>
      </article>


      <a class="im-anchor" name="contacts"></a>
			<article role="article" id="im-contacts" class="im-header dark">
        <div class="im-article-header center">
          <h2>Contacts</h2>
          <p>If you have any problem pleas contact our support center</p>
        </div>

				<div class="wrapper">
        <div class="im-col col-l">
          <div class="im-col-header">
            <h3>Connect with us</h3>
          </div>
          <div class="im-col-section">
						<b>t:</b> (+420) 775 13 55 88<br />
						<b>e:</b> info@roboticsautomation.cz<br />
						<b>w:</b> roboticsautomation.cz
          </div>
          <div class="im-col-footer"></div>
        </div>

        <div class="im-col col-c center">
          <div class="im-col-header">
            <h3>&nbsp;</h3>
          </div>
          <div class="im-col-section">
            <p></p>
          </div>
          <div class="im-col-footer"></div>
        </div>

        <div class="im-col col-r center">
          <div class="im-col-header">
            <h3>Find some issue?</h3>
          </div>
          <div class="im-col-section">
            Try to call us.<br />
            <p><a href="tel:+420775135588" rel="" target="_blank" class="im-btn yellow border-yellow bg-white">+ 420 775 13 55 88</a></p>
          </div>
          <div class="im-col-footer"></div>
        </div>
				</div>

        <div class="im-article-footer clearfix"></div>
      </article>
    </main> <!-- #main -->

    <footer id="im-footer" class="center padding" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
      &copy;<a href="//itmakers.cz" class="title" title="itmakers.cz - just make it" rel="">
        <abbr title="Information Technology">it</abbr> makers <span class="under">just make it</span>
      </a> <sup>&reg;</sup>
      <a href="//itmakers.cz/#imcms" class="title" title="itmakers.cz - imCMS (mobile intelligence cms)" rel="">
        <abbr title="it makers">im</abbr> cms
      </a>
      <p>
        <a href="privacy.html" title="roboticsautomation.cz - Privacy and Terms" rel="">Privacy &amp; Terms</a>
      </p>
    </footer>

		<script src="/assets/js/jquery341.min.js"></script>
		<script src="/assets/js/im.js?v=210401_2215"></script>
  </body>
</html>