/*
  ucss html unuse
*/
/*<acronym>	Not supported in HTML5. Use <abbr> instead. Defines an acronym*/
$acronym: acronym;
/*<applet>	Not supported in HTML5. Use <embed> or <object> instead. Defines an embedded applet*/
$applet: applet;
/*<basefont>	Not supported in HTML5. Use CSS instead. Specifies a default color, size, and font for all text in a document*/
$basefont: basefont;
/*<big>	Not supported in HTML5. Use CSS instead. Defines big text*/
$big: big;
/*<center>	Not supported in HTML5. Use CSS instead. Defines centered text*/
$center: center;
/*<dir>	Not supported in HTML5. Use <ul> instead. Defines a directory list*/
$dir: dir;
/*<font>	Not supported in HTML5. Use CSS instead. Defines font, color, and size for text*/
$font: font;
/*<frame>	Not supported in HTML5. Defines a window (a frame) in a frameset*/
$frame: frame;
/*<frameset>	Not supported in HTML5. Defines a set of frames*/
$frameset: frameset;
/*<noframes>	Not supported in HTML5. Defines an alternate content for users that do not support frames*/
$noframes: noframes;
/*<strike>	Not supported in HTML5. Use <del> or <s> instead. Defines strikethrough text*/
$strike: strike;
/*<tt>	Not supported in HTML5. Use CSS instead. Defines teletype text*/
$tt: tt;